.navbar {
    background-image: url("./Imgs/marvel-banner.jpg");
    background-repeat: no-repeat;
    background-size: 1584px 138px;
    height: 128px;
    font-family: 'Marvel', sans-serif;
    color: #FFFFFF;
}

footer {
    background-color: black;
}

.form-inline .form-control {
    font-size: 23px;
    color: #FFFFFF;
}

.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #FFFFFF;
    font-family: 'Marvel', sans-serif;
    font-size: 23px;
}

.btn-outline-success {
    color: #FFFFFF;
    border-color: #FFFFFF;
    font-family: 'Marvel', sans-serif;
}